
<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">                  
    <%= f.label :中文名称 %>
    <%= f.text_field :name_cn %>
  </div>

  <div class="clearfix">                    
    <%= f.label :日文名称 %>    
    <%= f.text_field :name_jp %>

  </div>

  <div class="clearfix">
      <%= f.label :分类 %> 
      <%= f.select :parent_id, nested_set_options(Category) {|i| "#{'-' * i.level} #{i.name}" }, { selected: 
         @product.category_ids, include_blank: true } %>
   
  </div>

  <div class="clearfix">                  
    <%= f.label :价格 %>
   
      <%= f.text_field :price %>
  </div>

  <div class="clearfix">                
      <%= f.label :产品介绍 %>
     
      <%= f.text_area :introduction, placeholder:"产品特征描述之类！" %>
  
  </div>

  <div class="clearfix">                
      <%= f.label :上传文件 %>
     
        <%= f.file_field :avatars, multiple: true %>
    
  </div>


  <div class="clearfix">
    <%= f.label :pic_url %>
    <%= f.text_field :pic_url %>
    
  </div>

  <p class="post-terms">感谢您对<a href="terms.html" target="_blank">ikura</a> 的贡献 <a href="terms.html" target="_blank">英雄</a> 后会 <a href="privacy.html" target="_blank">有期！</a></p>
  <div class="clearfix"></div>

  <div class="clearfix">
    <%= f.submit :发布%>
  </div>

<% end %>