

<p id="notice"><%= notice %></p>

<h1>产品列表</h1>



<table>
  <thead>
    <tr>
      <th>中文名称</th>
      <th>日文名称</th>
      <th>价格</th>
      <th>介绍</th>
      <th>照片路径</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name_cn %></td>
        <td><%= product.name_jp %></td>
        <td><%= product.price %></td>
        
        <td><%= product.pic_url %></td>
        <td><%= link_to '显示', product %></td>
        <td><%= link_to '编辑', edit_product_path(product) %></td>
        <td><%= link_to '删除', product, method: :delete, data: { confirm: '确定要删除么，少年?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
