<!--single-page-->
<div class="single-page main-grid-border">
    <div class="container">
      <ol class="breadcrumb" style="margin-bottom: 5px;">
        <li><a href="index.html">Home</a></li>
        <li><a href="all-classifieds.html">All Ads</a></li>
        <li class="active"><a href="mobiles.html">Mobiles</a></li>
        <li class="active">Mobile Phone</li>
      </ol>
      <div class="product-desc">
        <div class="col-md-7 product-view">
          <h2><%= @product.name_cn %>(<%= @product.name_jp %>)</h2>
          <p> <i class="glyphicon glyphicon-map-marker"></i><a href="#">state</a>, <a href="#">city</a>| Added at 06:55 pm, Ad ID: 987654321</p>
          <div class="flexslider">
            
          <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1000%; transition-duration: 0.6s; transform: translate3d(-2010px, 0px, 0px);">
              <li data-thumb="<%= @product.avatars[0].url %>" class="clone" aria-hidden="true" style="width: 670px; float: left; display: block;">  
                <%= image_tag @product.avatars[0].url, draggable: false %>
              </li>
              <li data-thumb="images/ss1.jpg" class="" style="width: 670px; float: left; display: block;">
                <img src="images/ss1.jpg" draggable="false">
              </li>
              <li data-thumb="images/ss2.jpg" class="" style="width: 670px; float: left; display: block;">
                <img src="images/ss2.jpg" draggable="false">
              </li>
              <li data-thumb="images/ss3.jpg" class="flex-active-slide" style="width: 670px; float: left; display: block;">
                <img src="images/ss3.jpg" draggable="false">
              </li>
            <li data-thumb="images/ss1.jpg" class="clone" aria-hidden="true" style="width: 670px; float: left; display: block;">
                <img src="images/ss1.jpg" draggable="false">
              </li></ul></div><ol class="flex-control-nav flex-control-thumbs"><li><img src="images/ss1.jpg" class="" draggable="false"></li><li><img src="images/ss2.jpg" draggable="false" class=""></li><li><img src="images/ss3.jpg" draggable="false" class="flex-active"></li></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li><li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li></ul></div>
          <!-- FlexSlider -->
            <script defer="" src="js/jquery.flexslider.js"></script>
          <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen">

            <script>
          // Can also be used with $(document).ready()
          $(window).load(function() {
            $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
            });
          });
          </script>
          <!-- //FlexSlider -->
          <div class="product-details">
            <h4>品牌 : <a href="#">Company name</a></h4>
            <h4>Views : <strong>150</strong></h4>
            <p><strong>Display </strong>: 1.5 inch HD LCD Touch Screen</p>
            <p><strong>详细介绍</strong> : <%= @product.introduction %></p>
          
          </div>
        </div>
        <div class="col-md-5 product-details-grid">
          <div class="item-price">
            <div class="product-price">
              <p class="p-price">价格</p>
              <h3 class="rate">$ <%= @product.price %></h3>
              <div class="clearfix"></div>
            </div>
            <div class="condition">
              <p class="p-price">产品状况</p>
              <h4>Good</h4>
              <div class="clearfix"></div>
            </div>
            <div class="itemtype">
              <p class="p-price">商品类型</p>
              <h4>Phones</h4>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="interested text-center">
            <h4>想购买此产品?<small> 联系我们的客服!</small></h4>
            <p><i class="glyphicon glyphicon-earphone"></i>微信：xiaoyaohen</p>
          </div>
            <div class="tips">
            <h4>Safety Tips for Buyers</h4>
              <ol>
                <li><a href="#">Contrary to popular belief.</a></li>
                <li><a href="#">Contrary to popular belief.</a></li>
                <li><a href="#">Contrary to popular belief.</a></li>
                <li><a href="#">Contrary to popular belief.</a></li>
                <li><a href="#">Contrary to popular belief.</a></li>
                <li><a href="#">Contrary to popular belief.</a></li>
                <li><a href="#">Contrary to popular belief.</a></li>
                <li><a href="#">Contrary to popular belief.</a></li>
                <li><a href="#">Contrary to popular belief.</a></li>
              </ol>
            </div>
        </div>
      <div class="clearfix"></div>
      </div>
    </div>
  </div>
<!--//single-page-->
