<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "一库拉 ikura.cn" %></title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>



  </head>
  <body>

    <div class="header">



      <div class="container">

        <div class="logo">
          <a href="/"><span>iku</span>ra</a>
        </div>
        <div class="header-right">

             <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "首页", root_path %></li>
                <li><%= link_to "日货百科", categories_path %></li>
                <li><%= link_to "价格查询", nokogiri_search_path %></li>
                <li><%= link_to "关于我们", pages_about_path %></li>

                <li class="dropdown">
                <%= link_to '#', class: 'dropdown-toggle', 'data-toggle': 'dropdown', role: 'button', 'aria-haspopup': 'true', 'aria-expanded': 'false' do %>
                   我的账户
                   <span class="caret"></span>
                <% end %>
                  <ul class="dropdown-menu">

                     <% if signed_in? %>
                       <li><%= link_to "个人主页", current_user %></li>
                       <li><%= link_to "编辑资料", edit_user_path(current_user) %></li>
                       <li> <%= link_to "登出", destroy_user_session_path,html_options = { method: "delete"} %></li>
                     <% else %>
                       <li><%= link_to "注册", new_user_registration_path %></li>
                       <li><%= link_to "登录", new_user_session_path %></li>
                     <% end %>
                  </ul>
                <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></li>
              </ul>

        </div>
      </div>
    </div>



          <div class="search-area">

                      <div class="content">
                          <span class="label label-success">BETA版</span>
                          <div id="logo"><span class="color-1">iku</span>ra<span class="color-2"></span></div>

                          <h1>日本本土电商价格查询<span>让您更好的海淘！</span></h1>
                      <div>


          </div>  

          <%= yield %>
	      

  </body>
</html>
